<div class="top-row mb-3 ps-3 navbar navbar-dark" style="background-color:#162033 !important; background-image:none !important;">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><h2>Fast Scan</h2></a>
    </div>
</div>

<div class="nav-scrollable" style="background-color:#162033 !important; background-image:none !important;">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="historico">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Historico
            </NavLink>
        </div>
    </nav>
</div>

